.job {
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 2px solid rgb(151, 151, 0) ;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 12px 0;
}

.favorite .job:last-of-type, .apply-area .job:last-of-type,.jobs-area .job:last-of-type {
    border-bottom: none;
}


.favorite .important, .apply-area .important {
    font-size: 16px;
}

.favorite .less-important, .apply-area .less-important {
    font-size: 12px;
}


.favorite {
    background-color: #ddd;
    padding: 12px;
    border-radius: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    height:35vh;
    overflow-y: auto;
}

.apply-area {
    background-color: #ddd;
    padding: 12px;
    border-radius: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 35vh;
    overflow-y: auto;
}

.jobs-area {
    background-color: #ddd;
    padding: 12px;
    border-radius: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: calc(100vh - 72px);
    overflow-y: auto;
}

.check {
    background-color: rgb(151, 151, 0);
    color: white;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translate(-50%);
    padding: 12px;
    border-radius: 12px;
}

.important {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.less-important {
    text-align: right;
    color: #666;
    margin-bottom: 12px;
}

.action {
    text-align: center;
}

.heart {
    color: tomato;
    display: inline-block;
    margin-right: 12px;
    font-size: 24px;
    cursor: pointer;
}

.applyed {
    background-color: rgb(151, 151, 107);
    display: inline-block;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    padding: 0 12px;

}

.apply {
    display: inline-block;
    font-size: 24px;
}

.apply button {
    background-color: rgb(151, 151, 0);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 0 12px;
}