<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div id="app" class="col-6">
                <div v-for="(job, index) in jobs" class="job">
                    <div class="important">
                        {{job.position}} to {{job.company}}
                    </div>
                    <div class="description">
                        {{job.description}}
                    </div>
                    <div class="less-important">
                        {{job.city}}
                        {{job.contract}}
                        {{job.created_at}}
                    </div>
                    <div class="action">
                        <div class="heart" v-if="starred.includes(job.id)" @click="notFavorite(starred, job.id)">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="heart" v-else @click="favorite(starred, job.id)">
                            <i class="far fa-heart"></i>
                        </div>

                        <div class="applyed" v-if="applied.includes(job.id)">
                            APPLYED
                        </div>
                        <div class="apply" v-else @click="applyed(applied, job.id)">
                            <button>APPLY</button>
                        </div>
                    </div>
                </div>
                <div v-show="done" class="check">
                    APPLY DONE
                </div>
            </div>
        </div>
    </div>


    <script src="./js/script.js"></script>
</body>

</html>